* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(243, 206, 190);
  --dark-color: rgb(37, 37, 37);
  --light-color: white;
  --ligher-dark: rgb(180, 180, 180);
}

html {
  font-size: 10px;
  /* font-size: 0.5vw; */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0 17vw;
  /* border: red 3px solid; */
}
.home {
  height: 100vh;
}

.navbar {
  display: flex;
  padding: 1rem 0;
  /* border: solid 4px green; */
}
.--contact-nav-btn {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}
ul {
  width: 30%;
  font-size: 1.7rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
ul a {
  color: var(--dark-color);
  text-decoration: none;
}

.--hero-img {
  width: 42rem;
  height: 42rem;
  border-radius: 50%;
  object-fit: cover;
  animation: img-animation 1.5s ease-in-out;
  box-shadow: 10px 0px 0px 1px var(--primary-color);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rem 0rem;
  max-height: 100%;
  width: 100%;
}
.hero-container .--hero-container-left {
  display: flex;
  /* border: solid 4px purple; */
  flex-direction: column;
  justify-content: center;
  width: 60%;
  /* transition: 0.3s; */
  animation: main-content 1.5s ease-in-out;
}

@keyframes main-content {
  0% {
    transform: translateY(-4%);
    opacity: 0.3;
  }
  50% {
    transform: translateY(2%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes img-animation {
  0% {
    transform: translatex(4%);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 1px var(--primary-color);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h2 {
  font-size: 5rem;
  line-height: 0.5;
  color: var(--primary-color);
}
.under-title {
  font-size: 2.7rem;
  line-height: 1;
}
h1 {
  font-size: 10rem;
  font-weight: 900;
  color: var(--dark-color);
  animation: img-animation 2s ease-in-out;
}
p {
  padding: 3rem 0;
  font-size: 2rem;
  width: 75%;
  color: var(--dark-color);
}

.btn {
  text-decoration: none;
  color: var(--ligher-dark);
  background: var(--dark-color);
  display: inline-block;
  padding: 0 3rem;
  line-height: 5rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  /* transition: 3s; */
}

.--button-content-wrapper .--btn-download {
  margin-left: 10px;
  border: solid 2px var(--dark-color);
  background-color: var(--ligher-color);
  color: dark var(--dark-color);
}
/* Second section */
#home {
  background: radial-gradient(
    circle,
    rgba(255, 225, 225, 1) 0%,
    rgba(255, 255, 255, 1) 51%
  );
}
/* #skills {
} */

.skills-container {
  /* border: solid 2px red; */
  height: 100vh;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-container .my-skills-title {
  color: var(--dark-color);
  padding: 2rem 0;
}

.divider {
  height: 2px;
  width: 30%;
  background-color: var(--primary-color);
  /* margin-top: 20px; */
}

.front-end-wrapper {
  display: flex;
  padding: 3rem 0;
  /* border: solid 2px red; */
}
.front-end-wrapper .--front-end-icon {
  width: 17rem;
  height: 17rem;
  margin: 0 2rem;
}
.front-end-wrapper .--front-end-icon .--fe-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

/*#region Background Images*/
.front-end-wrapper .--front-end-icon .--icon-1 {
  background: url("/assets/icons/js-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-2 {
  background: url("/assets/icons/react-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-3 {
  background: url("/assets/icons/html-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-4 {
  background: url("/assets/icons/redux-logo.png") center/cover no-repeat;
  background-size: 80%;
}
.front-end-wrapper .--front-end-icon .--icon-5 {
  background: url("/assets/icons/mongo-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-6 {
  background: url("/assets/icons/node-logo.png") center/cover no-repeat;
  background-size: 90%;
}
/*#endregion Background Images*/

.front-end-wrapper .--front-end-icon .--fe-icon:hover:after {
  opacity: 0.6;
  transform: scale(1.1);
}

.front-end-wrapper .--front-end-icon .--fe-icon::after {
  content: attr(data-icon);
  font-size: 2.5em;
  /* left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark-color);
  border-radius: 50%;
  opacity: 0;
  transition: 0.8s;
}

/* button animation feature */

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 50px;
  transition: 0.7s;

  transform: translatex(-180%);
  z-index: -1;
}
.btn:hover::after {
  content: "";
  transform: translatex(50%);
  position: absolute;
  opacity: 1;
}

.projects-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid 3px red; */
}

.--projects-wrapper {
  /* padding: 1rem 0; */
  width: 100%;
  height: 40%;
  display: flex;
  padding: 3rem;
  gap: 3rem;
}

.--projects-card {
  height: 100%;
  /* border: solid 2px blue; */
  width: 25%;
}

.--projects-wrapper .card1 {
  background: url("../assets/img/img_5terre.jpg") center/cover no-repeat;
}
.--projects-wrapper .card2 {
  background: url("../assets/img/img_forest.jpg") center/cover no-repeat;
}
.--projects-wrapper .card3 {
  background: url("../assets/img/img_lights.jpg") center/cover no-repeat;
}
.--projects-wrapper .card4 {
  background: url("../assets/img/img_mountains.jpg") center/cover no-repeat;
}

.projects-title {
  color: var(--dark-color);
  padding: 10rem 0;
}
