* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(243, 206, 190);
  --dark-color: rgb(37, 37, 37);
  --light-color: white;
  --ligher-dark: rgb(180, 180, 180);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  /* border: red 3px solid; */
}

.main-wrapper {

  padding: 0 17vw;
  background: linear-gradient(180deg, rgba(255,255,255,1) 60%, var(--primary-color)  100%);
  
}
.home {
  height: 100vh;
}

.navbar {
  display: flex;
  padding: 1rem 0;
  /* border: solid 4px green; */
}
.--contact-nav-btn {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}
ul {
  width: 30%;
  font-size: 1.7rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
ul a {
  color: var(--dark-color);
  text-decoration: none;
}

.--hero-img {
  width: 42rem;
  height: 42rem;
  border-radius: 50%;
  object-fit: cover;
  animation: img-animation 1.5s ease-in-out;
  box-shadow: 10px 0px 0px 1px var(--primary-color);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rem 0rem;
  max-height: 100%;
  width: 100%;
}
.hero-container .--hero-container-left {
  display: flex;
  /* border: solid 4px purple; */
  flex-direction: column;
  justify-content: center;
  width: 60%;
  animation: main-content 1.5s ease-in-out;
}

@keyframes main-content {
  0% {
    transform: translateY(-4%);
    opacity: 0.3;
  }
  50% {
    transform: translateY(2%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes img-animation {
  0% {
    transform: translatex(4%);
    opacity: 0.3;
    box-shadow: 0px 0px 0px 1px var(--primary-color);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h2 {
  font-size: 5rem;
  line-height: 0.5;
  color: var(--primary-color);
}
.under-title {
  font-size: 2.7rem;
  line-height: 1;
}
h1 {
  font-size: 10rem;
  font-weight: 900;
  color: var(--dark-color);
  animation: img-animation 2s ease-in-out;
}
p {
  padding: 3rem 0;
  font-size: 2rem;
  width: 75%;
  color: var(--dark-color);
}

.btn {
  text-decoration: none;
  color: var(--ligher-dark);
  background: var(--dark-color);
  display: inline-block;
  padding: 0 3rem;
  line-height: 5rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  /* transition: 3s; */
}

.--button-content-wrapper .--btn-download {
  margin-left: 10px;
  border: solid 2px var(--dark-color);
  background-color: var(--ligher-color);
  color: dark var(--dark-color);
}
/* Second section */
#home {
  background: radial-gradient(
    circle,
    rgba(255, 225, 225, 1) 0%,
    rgba(255, 255, 255, 1) 51%
  );
}
/* #skills {
} */

.skills-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-container .my-skills-title {
  color: var(--dark-color);
  padding: 2rem 0;
}

.divider {
  height: 2px;
  width: 30%;
  background-color: var(--primary-color);
}

.front-end-wrapper {
  width:100%;
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  /* border: solid 2px red; */
}
.front-end-wrapper .--front-end-icon {
  /* border: solid 2px red; */
  width: 17rem;
  height: 17rem;
  margin: 0 2rem;
}
.front-end-wrapper .--front-end-icon .--fe-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

/*#region Background Images*/
.front-end-wrapper .--front-end-icon .--icon-1 {
  background: url("/assets/icons/js-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-2 {
  background: url("/assets/icons/react-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-3 {
  background: url("/assets/icons/html-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-4 {
  background: url("/assets/icons/redux-logo.png") center/cover no-repeat;
  background-size: 80%;
}
.front-end-wrapper .--front-end-icon .--icon-5 {
  background: url("/assets/icons/mongo-logo.png") center/cover no-repeat;
}
.front-end-wrapper .--front-end-icon .--icon-6 {
  background: url("/assets/icons/node-logo.png") center/cover no-repeat;
  background-size: 90%;
}
/*#endregion Background Images*/


.front-end-wrapper .--front-end-icon .--fe-icon::after {
  content: attr(data-icon);
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark-color);
  border-radius: 50%;
  opacity: 0;
  transition: 0.8s;
}
.front-end-wrapper .--front-end-icon .--fe-icon:hover:after {
  opacity: 0.6;
  transform: scale(1.1);
}

/* button animation feature */

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 50px;
  transition: 0.7s;

  transform: translatex(-190%);
  z-index: -1;
}
.btn:hover::after {
  content: "";
  transform: translatex(50%);
  position: absolute;
  opacity: 1;
}

.projects-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid 3px red; */
}

.--projects-wrapper {

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 3rem 0;
  gap: 1rem;

}

.--projects-card {
  /* border: solid 2px blue; */
  border-radius: 1rem;
  width: 49%;
  width: 90%;
  /* width: 50%; */
  position:relative;
}

.--projects-wrapper  .--projects-card:after{

  /* border: solid 2px blue; */
  content:attr(data-proj);
  color:white;
  font-size:2.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  top:0;
  left:0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position:absolute;
  background: var(--dark-color);
  opacity:0;
  transition: 0.7s;
  cursor:pointer;

}
.--projects-wrapper  .--projects-card:hover::after{
  opacity: 0.8;

}





.--projects-wrapper .card1 {
  background: url("../assets/img/img_5terre.jpg") center/cover no-repeat;
}
.--projects-wrapper .card2 {
  background: url("../assets/img/img_forest.jpg") center/cover no-repeat;
}
.--projects-wrapper .card3 {
  background: url("../assets/img/img_lights.jpg") center/cover no-repeat;
}
.--projects-wrapper .card4 {
  background: url("../assets/img/img_mountains.jpg") center/cover no-repeat;
}

.projects-title {
  color: var(--dark-color);
  padding: 5rem 0;
}



/* contact-styling */

.contact-container{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.--contact-title-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-title{
  font-size: 6rem;
  color: white;
  padding:4rem 0;
  border-bottom: 1px solid black;
}
.--contact-p{
  font-size: 2.3rem;

}
.--icon-wrapper{
  background-color:var(--dark-color);
  color:white;
  width:9rem;
  height:9rem;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:6rem;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.7;

}
.--icon-wrapper:hover{
  background:white;
  color: var(--dark-color);
  opacity: 1;


}
.--social-icons{
  /* border:solid 2px red; */
  width:100%;
  display:flex;
  justify-content: center;
  gap: 4rem;
  padding: 3rem 0;

}
@media (max-width:1280px) {
  html{
    font-size:8px;
  }
  h1{
  font-size: 8rem;

  }

  .front-end-wrapper .--front-end-icon {
    width: 14rem;
    height: 14rem;
    margin: 0 2rem;
  }
  
}

@media (max-width:700px) {
  
  /* Navbar display none */

  html{
    font-size: 7px;
  }

  .navbar{
    display:none;
  }

  h1{
    
    font-size: 8rem;
  
  }

  .contact-title, .projects-title,.my-skills-title{
    font-size: 9rem;
  }
  .titles{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  h2{
    font-size: 7rem;
    
  }
  p{
    align-self: center;
  }
  .--hero-img{
    height: 32rem;
    width: 32rem;
  }

  
  .main-wrapper {
    
    padding: 0;
    
  }
  .hero-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
    width:100%;
    height: 100%;
  
  }

  .front-end-wrapper {
    width:100%;
    height:50%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  
.--projects-card {
  width: 90%;
  position:relative;
}
}